<div
  [ngClass]="{ pointer: !hasPathIndex() }"
  class="contact"
  (click)="clickContactHandle()"
>
  <app-flexbox>
    <button *ngIf="hasPathIndex()" (click)="backHandle()">back</button>
    <button *ngIf="!hasPathIndex()" (click)="removeContact()">remove</button>
  </app-flexbox>
  <app-flexbox>
    <app-flexbox>
      <h2>{{ index }}:</h2>
      <h2>{{ contact.name }}</h2>
    </app-flexbox>
    <app-flexbox flexDirection="column">
      <h3>age: {{ contact.age }}</h3>
      <app-flexbox *ngIf="contact.status === 'active'" gap="3px">
        <p>status: {{ contact.status }}</p>
        <section class="circle active"></section>
      </app-flexbox>
      <app-flexbox *ngIf="contact.status === 'notActive'" gap="3px">
        <p>status: {{ contact.status }}</p>
        <section class="circle notActive"></section>
      </app-flexbox>
      <app-flexbox *ngIf="contact.status === 'online'" gap="3px">
        <p>status: {{ contact.status }}</p>
        <section class="circle online"></section>
      </app-flexbox>
    </app-flexbox>
    <app-flexbox justifyContent="start" gap="20px">
      <app-flexbox>
        <p>active</p>
        <input
          (click)="statusClicked($event)"
          type="radio"
          name="status"
          value="active"
          [(ngModel)]="contact.status"
        />
      </app-flexbox>
      <app-flexbox>
        <p>notActive</p>
        <input
          (click)="statusClicked($event)"
          type="radio"
          name="status"
          value="notActive"
          [(ngModel)]="contact.status"
        />
      </app-flexbox>
      <app-flexbox>
        <p>online</p>
        <input
          (click)="statusClicked($event)"
          type="radio"
          name="status"
          value="online"
          [(ngModel)]="contact.status"
        />
      </app-flexbox>
    </app-flexbox>
  </app-flexbox>
</div>
