.contact {
  background-color: rgba(128, 128, 128, 0.033);
  box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.499);

  border-radius: 10px;
  padding: 10px;
}
.pointer {
  cursor: pointer;
}
button {
  cursor: pointer;
  border: none;
  background-color: rgba(128, 128, 128, 0.383);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.499);
  &:hover {
    transform: translate(2px, 2px);
    box-shadow: none;
  }
}
.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.online {
  background-color: green;
}
.active {
  background-color: purple;
}
.notActive {
  background-color: red;
}
input {
  cursor: pointer;
  &:hover {
    transform: translate(1px, 1px);
  }
}
