div {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
button {
  cursor: pointer;
}
.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.online {
  background-color: green;
}
.active {
  background-color: purple;
}
.notActive {
  background-color: red;
}
