input {
  border: none;
  background-color: antiquewhite;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
button {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
h2 {
  color: red;
}
app-flexbox {
  cursor: pointer;
  input {
    cursor: pointer;
  }
}
