button {
  background-color: rgba(128, 128, 128, 0.226);
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.522);
  cursor: pointer;
  &:hover {
    transform: translate(1px, 1px);
    box-shadow: none;
  }
}

.active {
  transform: translate(1px, 1px);
  box-shadow: none;
  color: rgb(179, 179, 179);
}
